<h1>Welcome</h1>

<h3>Please Sign In</h3>
<p>Sorry you can't. Don't worry, you may just enter as anyone in the mean time. Much powers, wow!</p>

<md-button ui-sref="household" class="md-raised md-primary">
  <md-icon>house</md-icon>
  Continue as Household
</md-button>
<md-button ui-sref="operator" class="md-raised md-primary">
  <md-icon>call</md-icon>
  Continue as Operator
</md-button>
<md-button ui-sref="contractor" class="md-raised md-primary">
  <md-icon>worker</md-icon>
  Continue as Contractor
</md-button>
